#download-container {
  font-size: 12px;
  height: 900px;
}
@media (min-width: 1200px) {
  #download-container {
    max-width: 1300px;
  }
}

label,
.ui-widget,
#location-search-input,
legend,
.btn {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

#location-search-container {
  position: relative;
  float: right;
  padding-right: 20px;
  padding-top: 15px;
}

#location-search-input {
  width: 200px;
}

#download-info-container {
  margin-top: 20px;
  display: table-row;
  height: 100%;
}

#feature-info-iframe {
  border: 0px;
  width: 100%;
  height: 98%;
}

#downloadindex-button {
  margin-top: 10px;
}

#download-list-button {
  float: right;
  margin-top: 10px;
}

.layer-switcher {
  top: 4em;
}

.layer-switcher button {
  width: 35px;
  height: 35px;
  background-color: beige;
  background-position: 0px;
}

.layer-switcher .panel ul {
  margin-left: 0px;
}

.layer-switcher .panel ul li label {
  padding-bottom: 10px;
  display: inline-block;
  margin-left: 10px;
}

.layer-switcher .panel ul li:nth-child(1) label {
  padding-top: 20px;
}

.form-input[disabled] {
  background-color: #ccc;
}

.ol-scale-line {
  left: 175px;
}

#application_area {
  height: 100vh;
  max-height: 750px;
  min-height: 600px;
  color: #555;
}

#column-left {
  height: 100%;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#column-right {
  padding-right: 0;
}

.column.span4 {
  position: relative;
}
.column.span8 {
  overflow: hidden;
}

.form-input-row {
  overflow: auto;
}

.form-input-label {
  display: inline-block;
  width: 120px;
  float: left;
}

.form-input {
  float: right;
  width: 280px;
  height: 20px;
  border: 1px solid rgba(145, 145, 145, 0.5);
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 0px;
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-input:disabled {
  cursor: default;
}

#map-container {
  height: 100%;
}

#map-controls-container {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 55px;
}

.layer-checkbox,
.download-checkbox {
  /* float: left; */
  margin-right: 10px !important;
}

.download-label {
  display: block;
  padding-left: 10px;
  font-size: 12px !important;
  margin-bottom: 0px !important;
}

#download-button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-light {
  color: #333 !important;
  background-color: #f0f0f0;
  border-radius: 3px;
  box-shadow: 1px 1px #adadad;
  font-weight: bold;
}

.control-item-container {
  display: inline-block;
  margin-right: 3px;
}

.control-button {
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 7px;
  border-color: #6e95c2;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  height: 42px;
  width: 42px;
}

.control-button:hover {
  background-color: #b6cae0;
}

.control-button.active {
  background-color: #6e95c2;
}

#resetview-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/finland.png');
}

#panselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/pan_NB.png');
}

#selectselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/rectangle_select_NB.png');
}

#clearselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/unselect_NB.png');
}

#infoselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/query.gif');
}

#drawselection-button {
  background-image: url('http://avoin-test.csc.fi/commonjs/images/paituli/draw_select_NB.png');
}

#notification-container {
  border: 1px solid orange;
  padding: 2px 8px !important;
  position: absolute;
  left: 22px;
  top: 64px;
  z-index: 25;
  background: white;
  display: none;
}

#info-container-wrapper {
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
  height: calc(100% - 226px);
}

#info-container {
  margin-top: 20px;
  height: 100%;
}
#info-container a {
  color: #36b645;
}

.ol-overviewmap {
  bottom: 0.5em !important;
}

.layer-checkbox-label {
  color: #000 !important;
}

#layer-selection-container {
  position: absolute;
  right: 55px;
  top: 250px;
  z-index: 100;
  background-color: transparent;
  padding: 10px;
}

#download-container-anchor,
#feature-info-container-anchor,
#metadata-container-anchor,
#links-container-anchor {
  color: #222222 !important;
}

#data-download-list {
  margin-top: 5px;
}

#feature-info-container,
#download-container,
#metadata-container {
  height: calc(100% - 70px);
  overflow: auto;
}

#feature-info-container {
  padding: 0;
}
/* 
#download-container {
  padding: 10px;
} */

#feature-search-container {
  margin-top: 5px;
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
  visibility: hidden;
}

#metadata-link-container {
  margin-top: 5px;
}

#feature-search-field {
  margin: 0px !important;
  height: 30px;
  width: 200px;
  border: solid 1px #adadad;
}

#search-button {
  margin-left: 12px;
  margin-top: -5px;
  color: #333 !important;
}

#feature-search-results {
  margin-top: 10px;
  margin-left: 5px;
}

#download-license-container {
  display: inline;
  padding-left: 10px;
}
.download-license-link {
  display: inline;
}

.ui-dialog .ui-state-error {
  padding: 0.3em;
}

#email-modal-tips,
#email-list-modal-tips {
  border: 1px solid transparent;
  padding: 0.3em;
  color: red;
  margin-bottom: 20px;
  margin-top: 10px;
}

#license-checkbox,
#license-checkbox-label,
#license-list-checkbox,
#license-list-checkbox-label {
  display: inline-block;
}

.modal-content-block {
  margin-bottom: 10px;
  margin-top: 10px;
}

#license-checkbox-label a,
#license-list-checkbox-label a {
  color: #36b645 !important;
}

#email-modal-form legend {
  font-size: 17px !important;
  margin-bottom: 10px !important;
}

.form-input-block {
  display: block;
}

.form-input-block:not(:nth-child(2)) {
  margin-top: 10px;
}

#data-form legend {
  border-style: none !important;
  line-height: 20px !important;
  margin-bottom: 0 !important;
}

#feature-info-default-label {
  margin-left: 10px;
  margin-top: 20px;
}

#metadata-notes {
  margin-top: 25px;
}

#links-header,
#links-container {
  display: block;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
  border-width: 2px;
}

.ol-dragbox {
  background-color: rgba(255, 51, 204, 0.6);
}

.ui-state-active {
  background: #fff !important;
  border: none !important;
}

.button-wrapper {
  float: left;
  padding-top: 10px;
  padding-left: 55px;
}

.tab-content-header {
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0 15px 0;
}

.ui-tabs .ui-tabs-panel {
  padding: 1.4em 1.2em;
}
