.footer-container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

#footer {
  width: 100%;
  bottom: 0px;
  background: #efefef;
  padding: 10px 0 10px;
}

#footer-col {
  font-size: 16px;
  text-align: center;
}

.footer-logo {
  padding-right: 30px;
}

#footer-text {
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#avoin-logo {
  height: 98px;
}
