.th-inner.sortable.both {
  font-size: 9pt;
  font-weight: bold;
}

#table {
  font-size: 9pt !important;
}

input[class*='form-control bootstrap-table-filter-control'] {
  font-size: 9pt !important;
}

td {
  padding: 3px !important;
  line-height: 16px !important;
  background-color: #fdfdfd !important;
}

.form-control {
  margin-bottom: 3px !important;
}

.multi-sort.btn.btn-default {
  visibility: hidden;
}

.columns.columns-right.btn-group.float-right {
  height: 0px !important;
}

.content-article {
  margin: 30px 0px 0px 0px !important;
}
