#dl-service-content {
  font-size: 12px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 900px;
}

#dl-service-content .row {
  margin: auto !important;
  max-width: 1500px;
}

#dl-service-content label,
#dl-service-content .ui-widget,
#location-search-input,
#dl-service-content legend,
#dl-service-content .btn {
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
}

#location-search-container {
  float: right;
  margin-right: 0;
  margin-top: 15px;
}

#download-info-container {
  margin-top: 20px;
  display: table-row;
  height: 100%;
  font-family: Arial, sans-serif !important;
}

#feature-info-iframe {
  border: 0px !important;
  width: 100% !important;
  height: 98%;
}

#downloadindex-button {
  margin-top: 10px;
}

#download-list-button {
  float: right;
  margin-top: 10px;
}
.layer-switcher button {
  width: 35px;
  height: 35px;
  background-color: beige;
  background-position: 0px;
}

.layer-switcher .panel ul {
  margin-left: 0px;
}

.layer-switcher .panel ul li label {
  padding-bottom: 10px;
  display: inline-block;
  margin-left: 10px;
}

.layer-switcher .panel ul li:nth-child(1) label {
  padding-top: 20px;
}

.form-input[disabled] {
  background-color: #ccc !important;
}

.ol-scale-line {
  left: 175px;
}

#application_area {
  height: 100vh;
  max-height: 750px;
  min-height: 600px;
}
/* 
#column_left{
    float:left;
    width:450px;
    height:100%;
    padding-right: 20px;
} */

/* #column_right{
    display:block;
    float:none;
    height:100%;
    max-width:1000px;
    min-width:450px;
} */

#dl-service-content > .column {
  height: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#dl-service-content > .column.span4 {
  position: relative;
}

#dl-service-content > .column.span8 {
  overflow: hidden;
}

.form-input-row {
  overflow: auto;
}

.form-input-label {
  display: inline-block;
  width: 120px;
  float: left;
}

.form-input {
  float: right !important;
  width: 300px !important;
  height: 20px !important;
  font-size: 12px !important;
  margin-bottom: 3px !important;
  padding: 0px !important;
  color: #555 !important;
}

.form-input:disabled {
  cursor: default !important;
}

#map-container {
  height: calc(100% - 70px);
}

#map-controls-container {
  height: 55px;
}

.layer-checkbox,
.download-checkbox {
  /* float: left; */
  margin-right: 10px !important;
}

.download-label {
  display: block;
  padding-left: 10px;
  font-size: 12px !important;
  margin-bottom: 0px !important;
}

#download-button {
  color: #333 !important;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.control-item-container {
  display: inline-block;
  margin-right: 3px;
}

.control-button {
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 7px;
  border-color: #6e95c2;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
  height: 42px;
  width: 42px;
}

.control-button:hover {
  background-color: #b6cae0;
}

.control-button.active {
  background-color: #6e95c2;
}

#resetview-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/finland.png');
}

#panselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/pan_NB.png');
}

#selectselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/rectangle_select_NB.png');
}

#clearselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/unselect_NB.png');
}

#infoselection-button {
  background-image: url('http://avaa.tdata.fi/commonjs/images/paituli/query.gif');
}

#drawselection-button {
  background-image: url('http://avoin-test.csc.fi/commonjs/images/paituli/draw_select_NB.png');
}

#notification-container {
  border: 1px solid orange;
  padding: 2px 8px !important;
  position: absolute;
  margin-left: 40px;
  margin-top: 10px;
  z-index: 25;
  background: white;
  display: none;
}

#info-container-wrapper {
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
  height: calc(100% - 235px);
}

#info-container {
  margin-top: 20px;
  height: 100%;
}

.ol-overviewmap {
  bottom: 0.5em !important;
}

.layer-checkbox-label {
  color: #000 !important;
}

#layer-selection-container {
  position: absolute;
  right: 55px;
  top: 250px;
  z-index: 100;
  background-color: transparent;
  padding: 10px;
}

#download-container-anchor,
#feature-info-container-anchor,
#metadata-container-anchor,
#links-container-anchor {
  color: #222222 !important;
}

#data-download-list {
  margin-top: 5px;
}

#feature-info-container,
#download-container,
#metadata-container {
  height: calc(100% - 70px);
  overflow: auto;
}

#feature-info-container {
  padding: 0;
}

#download-container {
  padding: 10px;
}

#feature-search-container {
  margin-top: 5px;
  font-family: Arial, sans-serif !important;
  font-size: 12px !important;
  visibility: hidden;
}

#metadata-link-container {
  margin-top: 5px;
}

#feature-search-field {
  margin: 0px !important;
}

#search-button {
  margin-left: 12px;
  color: #333 !important;
}

@media (max-width: 1349px) {
  #search-button {
    margin-left: 0px !important;
    margin-top: 10px !important;
  }
}

#feature-search-results {
  margin-top: 10px;
  margin-left: 5px;
}

#download-licence-container {
  display: inline;
  padding-left: 10px;
}
.download-licence-link {
  display: inline;
}

.ui-dialog .ui-state-error {
  padding: 0.3em;
}

#email-modal-tips,
#email-list-modal-tips {
  border: 1px solid transparent;
  padding: 0.3em;
  color: red;
  margin-bottom: 20px;
  margin-top: 10px;
}

#licence-checkbox,
#licence-checkbox-label,
#licence-list-checkbox,
#licence-list-checkbox-label {
  display: inline-block;
}

.modal-content-block {
  margin-bottom: 10px;
  margin-top: 10px;
}

#licence-checkbox-label a,
#licence-list-checkbox-label a {
  color: #36b645 !important;
}

#email-modal-form legend {
  font-size: 17px !important;
  margin-bottom: 10px !important;
}

.form-input-block {
  display: block;
}

.form-input-block:not(:nth-child(2)) {
  margin-top: 10px;
}

#data-form legend {
  border-style: none !important;
  line-height: 20px !important;
  margin-bottom: 0 !important;
}

#feature-info-default-label {
  margin-left: 10px;
  margin-top: 20px;
}

#metadata-notes {
  margin-top: 25px;
}

#links-header,
#links-container {
  display: block;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
  border-width: 2px;
}

.ol-dragbox {
  background-color: rgba(255, 51, 204, 0.6);
}

.container {
  max-width: 1400px !important;
}

.ui-state-active {
  background: #fff !important;
  border: none !important;
}
